<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <ul class="list-group">
        {% for category in categories %}
            {% if not category.parent %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.title }}
                    <li class="list-group-item align-items-center">
                        <ul>
                            {% for child in category.children.all %}
                            <div style="display: flex; justify-content: space-between;">
                                <li><a href="{% url 'list' child.slug %}">{{ child.title }}</a></li>
                                <span class="badge bg-primary rounded-pill">{{ child.products.count }}</span>
                            </div>
                            {% endfor %}
                        </ul>
                    </li>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>